<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tela Inicial | Osmar Ótica</title>
  <link rel="stylesheet" href="../static/home.css">
  <!-- Fonte Google -->
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
  <!-- Ícones -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
  <!-- Header -->
  <header class="navbar">
    <div class="logo">
      <img src="../static/otica2.png" alt="Logo">
      <h1>Osmar Ótica</h1>
    </div>
    <nav class="menu">
      <a href="#">Produtos</a>
      <a href="#">Suporte</a>
      <a href="#">Sair</a>
      <i class="fa-regular fa-user icon-user"></i>
    </nav>
  </header>

  <!-- Conteúdo Principal -->
  <main class="container">
    <!-- Sidebar -->
    <aside class="sidebar">
      <h2>Olá, Osmar!</h2>
      <ul>
        <li><i class="fa-solid fa-house"></i> Inicio</li>
        <li><i class="fa-regular fa-calendar-check"></i> Agendar Consulta</li>
        <li><i class="fa-solid fa-clipboard-list"></i> Meus Pedidos</li>
      </ul>
    </aside>

    <!-- Conteúdo -->
    <section class="conteudo">
      <h2>Produtos</h2>
      <div class="search-box">
        <input type="text" placeholder="O que você procura?">
        <button><i class="fa fa-search"></i></button>
      </div>

      <div class="produtos">
        <div class="produto-card">
          <img src="../static/oculos1.png" alt="Óculos de Grau">
          <h3>Óculos de Grau</h3>
          <p class="preco">R$ 299,90</p>
          <button>Adicionar ao Carrinho</button>
        </div>

        <div class="produto-card">
          <img src="../static/oculos2.png" alt="Óculos de Sol">
          <h3>Óculos de Sol</h3>
          <p class="preco">R$ 350,00</p>
          <button>Adicionar ao Carrinho</button>
        </div>
        <div class="produto-card">
            <img src="../static/oculos3.png" alt="Óculos de Grau">
            <h3>Óculos de Grau Feminio</h3>
            <p class="preco">R$ 280,00</p>
            <button>Adicionar ao Carrinho</button>
        </div>
        <div class="produto-card">
            <img src="../static/oculos4.png" alt="Óculos de Sol">
            <h3>Óculos de Sol Feminio</h3>
            <p class="preco">R$ 350,00</p>
            <button>Adicionar ao Carrinho</button>
        </div>
        <div class="produto-card">
            <img src="../static/oculos5.png" alt="Óculos de Sol">
            <h3>Óculos de Sol Infantil</h3>
            <p class="preco">R$ 150,00</p>
            <button>Adicionar ao Carrinho</button>
        </div>    
        <div class="produto-card">
            <img src="../static/oculos6.png" alt="Óculos de Grau">
            <h3>Óculos de Grau Infantil</h3>
            <p class="preco">R$ 120,00</p>
            <button>Adicionar ao Carrinho</button>
        </div>
      </div>
    </section>
  </main>
</body>
</html>
