<!DOCTYPE html>
<html lang="PT-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OSMAR ÓTICA</title>
    <link rel="stylesheet" href="../static/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>

<body>
    <section>
        <form>
            <h1>Osmar Ótica</h1>
            <div class="inputbox">
                <ion-icon name="mail-outline"></ion-icon>
                <input type="email" required>
                <label for="">Usuário</label>
            </div>
            <div class="inputbox">
                <ion-icon name="lock-closed-outline"></ion-icon>
                <input type="password" required>
                <label for="">Senha</label>
            </div>
            <div class="forget">
                <label><input type="checkbox">Lembrar</label>
                <a href="#">Esqueceu a senha?</a>
            </div>
            <button>Iniciar</button>
            <div class="registrar">
                <p>Não tenho conta? <a href="#">Criar Conta</a></p>
            </div>
        </form>
    </section>

    <!-- Scripts para os ícones -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="../templates/login.js"></script>
</body>

</html>